development:
  rails_host: 'http://192.168.21.68:3000'
  wkhtmltopdf: '/opt/wkhtmltopdf/bin/wkhtmltopdf'
  "urlSegipWS": "http://test.local.agetic.gob.bo/kong/fake/segip"
  "urlFundEmpresaWS": "http://test.local.agetic.gob.bo/kong/fake/fundempresa"
  "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI3MWY5Y2IyNmMwNTY0ZjRiYTkzMDIyYmVmN2M2Mzc4MSJ9.TH9PGcXoKkamR4-z6U4XTAdVQQ6XTW0-Qcm3dcicUlM"
  secret_key_base: 1b9293932594704024c0c03a62f52a3a9a16a0e6e2e213471134e8271bf8e2993204764ef7d4be5b97c62857a5537002a7491c1b06124d0ac05ccd2dedf45936

production:
  rails_host: <%= ENV["RAILS_HOST"] %>
  wkhtmltopdf: <%= ENV["WKHTMLTOPDF"] %>
  "urlSegipWS": <%= ENV["URL_SEGIP_WS"] %>
  "urlFundEmpresaWS": <%= ENV["URL_FUNDEMPRESA_WS"] %>
  "token": <%= ENV["TOKEN"] %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
