# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  "urlSegipWS": "http://test.local.agetic.gob.bo/kong/fake/segip"
  "urlFundEmpresaWS": "http://test.local.agetic.gob.bo/kong/fake/fundempresa"
  "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI3MWY5Y2IyNmMwNTY0ZjRiYTkzMDIyYmVmN2M2Mzc4MSJ9.TH9PGcXoKkamR4-z6U4XTAdVQQ6XTW0-Qcm3dcicUlM"
  secret_key_base: 1b9293932594704024c0c03a62f52a3a9a16a0e6e2e213471134e8271bf8e2993204764ef7d4be5b97c62857a5537002a7491c1b06124d0ac05ccd2dedf45936

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  "urlSegipWS": <%= ENV["URL_SEGIP_WS"] %>
  "urlFundEmpresaWS": <%= ENV["URL_FUNDEMPRESA_WS"] %>
  "token": <%= ENV["TOKEN"] %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
